/* your code */
table { 
    width: 100%;
	
    text-align: left;
    
   
    
    border-collapse: collapse;

   
    }
  table th { 
    background-color: rgba(28, 130, 203);
     
    
    }
  table td, 
  table th { 
    padding: 10px;
     
    }
    tr:nth-child(even){
        background-color: rgb(173, 169, 169);
    }